body {
    background-color: var(--powder-blue-800);
    color: var(--mint-green);
    font-family: "Comic Sans MS", sans-serif;
}

h1, h2, h3, h4, h5, h6, .big-text {
    font-family: "Poppins", sans-serif;
}


.navbar {
    background-color: var(--raisin-black-700);
}

.nav-link {
    color: var(--ucla-blue) !important;
}

.nav-link.active {
    font-weight: bold;
    color: var(--powder-blrgba(157, 123, 123, 0.5));
}

.navbar-brand {
    color: var(--raisin-black) !important;
}



::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: var(--ucla-blue-200); 
}


::-webkit-scrollbar-thumb {
  background: var(--raisin-black-700);
  border: 2px solid var(--ucla-blue-200); 
}


::-webkit-scrollbar-thumb:hover {
  background: var(--ucla-blue-500);
}

.footer {
    background-color: var(--raisin-black-700);
    color: var(--ucla-blue);
    padding: 15px 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    border-top: 2px solid var(--ucla-blue-200);
}

.footer p {
    margin: 0;
    color: var(--mint-green);
    transition: color 0.3s ease;
}

.footer p:hover {
    color: var(--ucla-blue-500);
}
